# ПРИВАТНЫЙ КЛЮЧ И ПАРОЛЬ ДЛЯ АВТООБНОВЛЕНИЙ
TAURI_SIGNING_PRIVATE_KEY=""
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=""


# Сгенерировать Приватный/Публичный ключ для обновлений: npx tauri signer generate
# Для подписи сертифика с 'Подписывание кода' поместить в хранилище Windows и получить Хеш: 
# Import-PfxCertificate -FilePath "./developer_cert.pfx" -CertStoreLocation Cert:\CurrentUser\My -Password (ConvertTo-SecureString "123456789" -AsPlainText -Force)
# Get-ChildItem Cert:\CurrentUser\My | Select-Object Subject, Thumbprint

# Текущий пользователь -> Личное