.source-picker {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__stream-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p-select {
      flex: 1;
    }
  }
}